.contentTask{
    /* border: 1px solid black; */
    border-radius: 15px;
    height: fit-content;
    padding: 8px;
    box-shadow: 2px 2px 7px #BBB8B2;
    width: 250px;
    color: #2E2E3A;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.contentTask:hover{
    background-color: #2E2E3A;
    color: white;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.title{
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
