.contentDetails{
    padding: 25px 50px;
    height: 100vh;
    color: #2E2E3A;
    background-image: url('../../asset//12230268_4931029.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contentTitleDescrip{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    color: #2E2E3A;
}

.title{
    font-size: 1.5rem;
    text-transform: uppercase;
}

.descrip{
    font-family: 'roboto';
}

.contentTextImg{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    /* border: 1px solid blue; */
    color: #2E2E3A;
}

.sizeImg{
    width: 400px;
    height: fit-content;
}

.imagen{
    width: 100%;
    height: fit-content;
    object-fit: cover;
    border-radius: 10px;
}

.imagen:hover{
    filter: brightness(80%);
}

.textLarge{
    /* border: 1px solid red; */
    width: 500px;
    padding: 2px 0;
    font-size: 1.2rem;
}