.contentSec{
    padding: 25px 50px;
    height: 100vh;
    background-image: url('../../asset//12230268_4931029.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    font-size: 2rem;
    text-align: center;
    font-family: 'roboto';
    text-transform: uppercase;
    color: #2E2E3A;
    margin: 0 0 20px 0;
}

.contentTaskList{
    display: grid;
    place-items: center;
    gap: 1rem;
    grid-auto-rows: 5rem;
    grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
}