.contentOnly{
    border-radius: 15px;
    height: fit-content;
    padding: 8px;
    box-shadow: 2px 2px 7px #BBB8B2;
    width: 100%;
    color: #2E2E3A;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    transition: 1s;
    margin: auto;
}

.contentOnlycont{
    transition: 1s;
}

.contentEditor{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.boton{
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    width: 100px;
    padding: 5px 0;
    border-radius: 20px;
    border: 0;
    background-color: #F34213;
    color: white;
    font-family: 'roboto';
    font-size: 0.9rem;
    transition: .3s all;
    letter-spacing: 1.2px;
}

.boton:hover, .botonSave:hover,.botonBack:hover{
    transform: scale(1.2);
}

/* .textP{
    width: 100%;
    font-size: 1.2rem;
    word-wrap: break-word;
    border: 1px solid blue;
} */

.botonSave{
    margin: auto;
    width: 100px;
    cursor: pointer;
    padding: 3px 5px;
    border-radius: 20px;
    border: 0;
    background-color: #F34213;
    color: white;
    font-family: 'roboto';
    font-size: 0.9rem;
    transition: .3s all;
    letter-spacing: 1.2px;
}

.inputData{
    padding: 0 2px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
}

.botonBack{
    text-align: center;
    margin: auto;
    width: 100px;
    cursor: pointer;
    padding: 3px 5px;
    border-radius: 20px;
    border: 0;
    background-color: #F34213;
    color: white;
    font-family: 'roboto';
    font-size: 0.9rem;
    transition: .3s all;
    letter-spacing: 1.2px;
    text-decoration: none;
}

.textTitle{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1rem;
    word-wrap: break-word;
    width: 100px;
}

.text{
    font-size: 1.2rem;
    word-wrap: break-word;
    width: 80%;
}

@media (max-width:800px){
    .contentOnly{
        flex-direction: column;
    }
}